{% extends 'base.html.twig' %}

    {% block title %}league.name{% endblock %}

    {% block pageTitle %}Teams{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">

         <div class="row">

            {% include 'frontCommon/__multipleCardDisplay.html.twig' with {
                'incomingElements': teams,
                'hrefPath': 'app_team_show',
                'altImage': 'team',
            } %}

        </div>
    
    </container>

{% endblock %}


