{% extends 'base.html.twig' %}

    {% block title %}home{% endblock %}

    {% block pageTitle %}Leagues{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">
    
        <div class="row">
    
        
        </div>
    
    </container>

{% endblock %}
