{% extends 'base.html.twig' %}

    {% block title %}home{% endblock %}

    {% block pageTitle %}NexusVerse{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">
    
        <div class="row text-center">

            <a href="{{ path('app_league_index')}}">
                <img class="logoLol" src="https://upload.wikimedia.org/wikipedia/fr/archive/1/12/20191212013755%21League_of_Legends_Logo.png" alt="Logo" class="img-fluid mx-auto d-block" style="width:50%">
            </a>

        </div>
    
    </container>

{% endblock %}
