{% extends 'base.html.twig' %}

{% block title %}ranking{% endblock %}

{% block pageTitle %}Ranking{% endblock %}
    
{% block bodyContent %}

    <h1>Classement des équipes</h1>

    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Équipe</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{loop.index}}}</td>
                <td>{{ team.nom }}</td>
                <td>{{ team.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
