{% extends 'base.html.twig' %}

    {% block title %}League{% endblock %}

    {% block pageTitle %}Teams{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">
    
        <div class="row">
        
            {% for team in teams %}

                <div class="col">
                
                    <a class="text-decoration-none" href="{{ path('app_team', {'teamId': team.id}) }}">

                        <div class="card" style="width: 18rem;">
                            <img src="{{team.images[0].url}}" class="card-img-top" alt="team">
                            <p>Image</p>
                            <div class="card-body">
                                <h5 class="card-title">{{ team.name }}</h5>
                                
                                <button class="btn btn-primary">See team</button>
                            </div>
                        </div>

                    </a>

                </div>

            {% endfor %}
        
        </div>
    
    </container>

{% endblock %}

