{% extends 'base.html.twig' %}

    {% block title %}League{% endblock %}

    {% block pageTitle %}Leagues{% endblock %}
    
    {% block bodyContent %}

    <container class="d-flex justify-content-around px-5 mb-3">
    
        <div class="row">

            {% include 'frontCommon/__multipleCardDisplay.html.twig' with {
                'incomingElements': leagues,
                'hrefPath': 'app_league_show',
                'altImage': 'league',
            } %}

        </div>
    
    </container>

{% endblock %}