{% extends 'base.html.twig' %}

{% block title %}League
{% endblock %}

{% block pageTitle %}{% endblock %}

{% block pageImage %}

	<img src="{{ league.images[0].url }}" style="height: 100%;" alt="cover">

{% endblock %}

{% block bodyContent %}

	<container class="d-flex flex-column justify-content-around px-5 mb-3">

		<div class="row text-center mb-5">

			<h1 class="text-center mb-5">Matchs</h1>

			{% include 'frontCommon/__multipleEncounterDisplay.html.twig' with {
                            'rankings': rankings
                            } 
                        %}


		</div>


		<div class="row text-center">

			<h1 class="text-center mb-5">Teams</h1>


			{% include 'frontCommon/__multipleCardDisplay.html.twig' with {
                    'incomingElements': uniqueTeams,
                    'hrefPath': 'app_team_show',
                    'altImage': 'team',
                } %}


		</div>


	</container>

{% endblock %}
