{% extends 'base.html.twig' %}

{% block title %}New Champion{% endblock %}
{% block pageTitle %}New Champion{% endblock %}

{% block bodyContent %}
    <h1>Create new Champion</h1>

    {{ include('admin_champion/_form.html.twig') }}

    <a href="{{ path('app_admin_champion_index') }}">back to list</a>
{% endblock %}
